/* textos */

/* links */

@mixin texto {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    color: $color-negro;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-negro;
    cursor: pointer;
}

.contenedorHome {

    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    @include texto;
}

.contenedorHome2,
.contenedorViajes {
    @include texto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;

}

.cardTitulo {
    font-weight: bold;
    font-size: 23px;
    text-decoration: underline;
    text-transform: uppercase;
}

.contenedorTitulo {
    @include texto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;

}

.contenedorTestimonios p {
    color: $color-negro;
    padding: 1px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.contenedorTitulo2,
.contenedorContacto {
    @include texto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 2rem;

}

.tituloFooter {
    text-transform: uppercase;
}

.contenedorFooter {
    background-color: $color-gris-claro;
    color: $color-blanco;

    p {
        cursor: pointer;
    }
}